# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
sci_invest.iml
modules.xml
misc.xml
profiles_settings.xml
/data/
vcs.xml
.idea/
.ipynb_checkpoints
data/cm26JUL2023bhav.csv.zip
ta.ipynb
/sci_inv/ 
config.json
venv/
sci_inv/
